.accordion-button {
  background-color: transparent;
}
.accordion-button:not(.collapsed) {
  color: black;
  background-color: transparent;
  box-shadow: none;
}

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.accordion-item {
  border: none;
}

.accordion-button {
  padding: 1rem 0;
  max-width: 400px;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 0;
  height: 0;
  background-size: 0;
}

.accordion-button::before {
  content: "";
  display: block;
  width: 25px;
  height: 1px;
  background: black !important;
  opacity: 1;
  z-index: 1;
  margin-right: 10px;
  transition: all 0.2s ease-in;
}

.accordion-button:not(.collapsed)::before {
  width: 50px;
}

.accordion-body {
  padding: 1rem 0;
  font-family: "Neue-Italic";
  max-width: 400px;
}

.accordion {
  padding-bottom: 2rem;
}
