.h-100 {
  height: 100%;
}

@font-face {
  font-family: "Neue";
  src: local("Neue"), url(../fonts/NeueMontreal-Regular.otf) format("truetype");
}

@font-face {
  font-family: "Neue-Italic";
  src: local("Neue-Italic"),
    url(../fonts/NeueMontreal-Italic.otf) format("truetype");
}
@font-face {
  font-family: "Neue-Medium";
  src: local("Neue-Medium"),
    url(../fonts/NeueMontreal-Medium.otf) format("truetype");
}
@font-face {
  font-family: "Neue-Light";
  src: local("Neue-Light"),
    url(../fonts/NeueMontreal-Light.otf) format("truetype");
}
@font-face {
  font-family: "Neue-LightItalic";
  src: local("Neue-LightItalic"),
    url(../fonts/NeueMontreal-LightItalic.otf) format("truetype");
}

body {
  font-family: "Neue";
  scroll-behavior: auto;
  overflow: overlay;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}

.border-bottom-white {
  border-bottom: 1.5px solid white;
}

.pointer {
  cursor: pointer;
}

.h-0 {
  height: 0px;
}

.scroll-to {
  transform: translateX(-200px);
}

.container {
  padding-left: 75px;
  padding-right: 75px;
}

.bg-beige {
  background-color: #e7e5e0;
}

.bg-black {
  background-color: #000000;
}
